@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');

html {
    color: #fefefe;
    box-sizing: border-box;
    font-size: 18px;
    margin:0;
    padding:0;
}

body {
    font-family: 'Poiret One', cursive;
}


a {
    color: #fefefe;
    transition: all 150ms ease-in-out;
    text-decoration: none;
    &:hover {
        color: #00A896;
        text-decoration: none;
    }
}

.app-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.image-container {
    width: 50%;
    background-position: center;
    background-size: cover;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
 
    color: #fefefe;
    overflow: auto;
    background: url("../../public/images/Topo.png") center repeat; 
    & i {        
        font-size: 2.5rem;
        margin: 0 1rem;
        color: #fefefe;
        transition: all 150ms ease-in-out;
        &:hover {
            color: #00A896;
        }
    }
    
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 95%;
    width: 100%;
    padding: 2rem;
    & h1 {
        color: #F0F3BD;
        font-weight: bold;
    }
}

.nav-container {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-self: flex-start;
    width: 100%;
    height: fit-content;
    min-height: 5%;
}

#mobile-nav {
    display: none;
    background: rgba(5,102,141,.8);
    justify-content: center;
    color: #fefefe;
}

#portfolio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem;
}

.project-container {
    padding: .5rem;
    width: 100%;
    height: fit-content;
    align-items: flex-start;
    margin-bottom: 1rem;
    & h2 {
        text-align: center;
    }

    & img {
        max-width: 100%;
        margin-bottom: .5rem;
    }
    
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-caption {
    margin-bottom: .5rem;
    text-align: center;
}

#home-container {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    & h1 {
        align-self: center;
    }
}

@media only screen and (max-width: 1180px) {
    html {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1055px) {
    .app-container {
        flex-wrap: wrap;
        overflow: auto;
        max-height: 100vh;
    }
    
    .image-container {
        width: 100vw;
        height: 70vh;
    }

    .main-container {
        width: 100vw;
        height: fit-content;
    }
    
    #mobile-nav {
        display: flex;

        & a:hover {
            color: #F0F3BD;
        }
    }

    #desktop-nav {
        display: none;
    }

    h2 {
        font-size: 1.5rem;
    }
}