html {
    color: #fefefe;
    box-sizing: border-box;
}

a {
    color: #fefefe;
    transition: all 150ms ease-in-out;
    &:hover {
        color: #00A896;
        text-decoration: none;
    }
}

.app-container {
    display: flex;
    height: 100vh;
}

.image-container {
    width: 50vw;
    background-position: center;
    background-size: cover;
}

.main-container {
    width: 100%;
    color: #fefefe;
    overflow: hidden;
    font-family: 'Poiret One', cursive;
    background: url("../../public/images/d41219ee.png") center repeat; 
    & i {        
        font-size: 2.5rem;
        margin: 0 1rem;
        color: #fefefe;
        transition: all 150ms ease-in-out;
        &:hover {
            color: #00A896;
        }
    }
    
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#nav-container {
    padding: 1rem;
    float: right;
}