html {
    color: #fefefe;
}

#app-container {
    display: flex;
    height: 100vh;
}

#scott-container {
    width: 50vw;
    background: url("../images/IMG_8797.jpg") center/cover;

}

#hero-container {
    width: 100%;
    color: #fefefe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poiret One', cursive;
    background: url("../images/d41219ee.png") center repeat; 
    & i {        
        font-size: 2.5rem;
        margin: 0 1rem;
        color: #fefefe;
        transition: all 150ms ease-in-out;
        &:hover {
            color: #00A896;
        }
    }
    
}
